.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/evgeniy.kulinchenko.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/evgeniy.kulinchenko.xcuserdatad/xcschemes/xcschememanagement.plist
